.logo{
	width:35%;
	height:70px;
}
.photo{
	width:100%;
	height:100%;
}

.rightimage{
width:100%;
height:400px;
}
.moving{
width:100%;
height:300px;
}
.btn-color{
background-color:green;
}
.mytextcolor{
color:green;
font-family:Verdana;
font-size:18;
opacity:1.0;

}
.menucolor{
background-color:orange;
opacity:1.0;
}
.activemenucolor{
background-color:white;
}
.btnhover:hover{
background-color:orange;
border-color:green;
color:green;
}
.font1{
color:green;
font-family:Verdana;
font-size:18;
}
.font2{
color:gray;
font-family:Verdana;
font-weight:100%;
}
.font3{
color:green;
font-family:Verdana;
font-size:18;
}
.font4{
color:green;
font-family:Verdana;
font-weight:100%;
}
.font5{
font-family:Verdana;
}

.menutext:hover{
color:white;
}
.imageborder{

border:solid 3px orange;
border-radius:10px;
}
.bgimage{
background-image:01.jpg;
}
